@use "./partials/components/fonts" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fuzzy Bubbles";
}

body {
  background-color: rgb(237, 126, 102);
}
.card {
  display: none;
  width: 45rem;
  height: 27rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-perspective: 75rem;
  perspective: 75rem;
  transition: 3s;

  &--unhide {
    display: block;
  }

  &:hover {
    transform: rotate(-5deg);
  }
  &:hover &__outside {
    transform: rotateY(-130deg);
  }
  &__outside,
  &__inside {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
  }
  &__inside {
    background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
    line-height: 3;
    padding: 0 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    border-radius: 0.6rem;
  }
  &__outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
    border-radius: 0.6rem;
  }
  &__front,
  &__back {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    border-radius: 0.6rem;
  }
  &__front {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__back {
    transform: rotateY(180deg);
    background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
  }
  &__outside p {
    font-size: 1.4375rem;
    text-transform: uppercase;
    margin-top: 1.875rem;
    text-align: center;
    letter-spacing: 0.375rem;
    color: #000046;
  }
  &__inside h1 {
    font-size: 7.5rem;
    line-height: 7.5rem;
  }
}

.pokemon__img {
  margin-top: 0;
  width: 150px;
  height: 150px;
}

.card__front-unsplash {
  width: 150px;
  height: 150px;
}
